<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>SHÖP!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="iso-8859-1" />

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
        <link href="../css/igroc.css" rel="stylesheet" media="screen" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="../js/start.js"></script>
    </head>

    <body>
        <div id="main-frame" class="container">
            <div id="head" class="row" th:include="fragments/menu :: logo"></div>
            <div class="row" th:include="fragments/menu :: menu"></div>

            <!-- Innehåll-->
            <div class="row"> 
                <div class="ensam" th:each="product : ${it}">
                    <img class ="pimg" th:src="'../img/products/'+${product.id} + '.jpg'" alt="produkt" />
                    <article th:id="${product.id}" class="product-item">
                        <div class="product-wrapper">
                            <h2 class="pname" th:text="${product.name}"></h2>
                            <h4 class="pprice" th:text="${product.price}"></h4>
                            <div class="pdes" th:text="${product.productdes}"></div>
                            <button class="btn btn-default" type="submit">Lägg i Varukorg</button>
                        </div>

                    </article>
                </div>
            </div>

            <!--            Slut innehåll-->
           <div id="footer" class="row" th:include="fragments/menu :: footer">
            </div>         
        </div>
    </body>
</html>