<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>SHÖP!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="iso-8859-1" />

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
        <link href="../css/igroc.css" rel="stylesheet" media="screen" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="../js/start.js"></script>
    </head>

    <body>
        <div id="main-frame" class="container">
            <div id="head" class="row" th:include="fragments/menu :: logo"></div>
            <div class="row" th:include="fragments/menu :: menu"></div>

            <!-- Innehåll-->
            <div class="row"> 
                <div class="col-md-4" th:each="product : ${it}">
                    <article th:id="${product.id}" class="webshop-item">

                        <div class="shop-wrapper">
                            <img class ="product-img" th:src="'../img/products/'+${product.id} + '.jpg'" alt="produkt" />
                            <div class="product-name" th:text="${product.name}"></div>
                            <!--                            <div class="product-productdes" th:text="${product.productdes}"></div>-->
                            <div class="product-price" th:text="${product.price}"></div>
                            <span class="glyphicons glyphicons-shopping-cart"></span>
                        </div>

                    </article>
                </div>
            </div>

            <!--            Slut innehåll-->
           <div id="footer" class="row" th:include="fragments/menu :: footer">
            </div>         
        </div>
    </body>
</html>