*{
    font-family: 'Open Sans', sans-serif;
}
#logotype{
    background-color: pink;
}

#logotype img {
    vertical-align: middle;
}

#title{
    vertical-align: middle;
}

#title h1{
    text-align: center;
}

.navbar {
    margin-bottom: 0;
}
.carousel-inner .item img{
    margin: 0 auto;
}

#start-colums{
    margin: 0 0 20px 0;
}

#start-left-column h3,
#start-right-column h3 {
    padding: 20px 0 10px 20px;
    margin: 0 0 0 0;

}
#start-left-column p,
#start-right-column p {
    padding: 10px 0 20px 20px;
    margin: 0 0 0 0;
    border-top: solid 1px lightgrey;
    border-left: solid 1px lightgrey;
    border-radius: 10px 0 0 0;

    /* border radius only top left corner */
}
#footer {
    background-color: burlywood;
    margin: 0 0 10px 0;
    padding: 10px 0;
}
#footer ul {
    list-style: none;
    padding: 10px 0 10px 0;
    margin: 0 0 0 0;
}
#footer li .glyphicon {
    padding: 0 5px 10px 0;
    font-size: 20px;
    vertical-align: middle;
}
#footer li:last-child .glyphicon {
    padding: 0 5px 0 0;

}
.footer-address span {
    display: block;
    float: left;
}
.hidden {
    display: none;
    visibility: hidden;
}

#hundar-hanar .row .hund {
    padding: 20px 0;
}
#hundar-hanar .row h3,
#hundar-hanar .row p{
    text-align: center;
}
#hundar-hanar .row img {
    display: block;
    margin: 0 auto;
    width: 85%;
}
/* Ändras på mindre storlekar */
.titlar-kennel-namn,
.uppfodare-agare,
.fodd-far-mor {
    display: block;
    padding: 10px 55px;
    clear: both;
    overflow: auto;
    font-size: 17px;
}
.uppfodare-agare {
    margin-top: 10px;
}
.titlar {
    font-style: italic;
}
.kennel-namn {
    font-weight: bold;
    font-size: 20px;
}
.namn {
    font-style: italic;
}
.titlar, .kennel-namn, .namn {
    display: block;
    width: 100%;
}
.uppfodare, .agare,
.fodd, .far, .mor {
    text-align: left;
    display: block;
    width: 100%;
}
.label {
    font-size: 18px;
}

article.dogItem {
    min-height: 350px;
}
.dogItem .dog-wrapper {
    margin: 0 auto;
    max-width: 320px;
}
h4.dog-name { 
    text-align: center;
}

div.dog-breeder {
    text-align: left;
    margin-top: 5px;
}

.form-inline {
    margin-bottom: 50px;
    margin-top: 20px;
}

.form-control {
    margin-bottom: 10px;

}

.btn btn-success {
    background-color: pink;
}

.contact {
    margin-left: 15px;
}

.aboutUs {
    margin-left: 15px;
}


/* Kim css */
article.item {
    min-height: 250px;
}
article.item img.dog-img {
    max-height: 200px;
    margin: 0 auto;
    display: block;
}

article.webshop-item {
    min-height: 300px;
    text-align: left;
    border: solid 1px #DDD;
    margin: 20px 0;
    font-family: 'Open Sans', sans-serif;
}
article.webshop-item:hover {
    cursor: pointer;
}

article.webshop-item img.product-img {
    max-height: 200px;
    margin: 0 auto;
    /*display: block;*/
    padding: 10px;
}
article.webshop-item img.product-img:hover {
    padding: 5px;
}
.webshop-item .shop-wrapper {
    text-align: center;
    margin: 0 auto;
    max-width: 320px;
}

.name, .price,
.productdes, .id {
    text-align: center;
    display: block;
    width: 100%;
}

div.product-name {
    text-align: center;
    margin-top: 5px;
}

.product-wrapper{
    margin-left: 500px;

}

.pimg{
    float: left;
    margin-bottom: 50px;
}

.pdes{
    max-width: 600px;
    font-family: 'Open Sans', sans-serif;

    margin-bottom: 50px;
}




